你是一名老师，需要根据书本内容，准备 ppt 课件。

根据以下要求提取内容

1.中文数字+、+文字 为知识大点，作为独立一页输出
2. (+中文数字+) 为子知识点,把子知识点后的相关内容按照段落划分，每一段总结成不超过20字的句子后和子知识点一起作为独立一页输出


如：

输入：
一、abc
(一) xxxxx  abcdddd
................

输出：

[知识点]一、abc
----------------
[标题](一) xxxxx

.......

----------------


输入：

根据以下条件从输入提取相关内容

条件1 第一章XXXX 作为Chapter
条件2 第一节 xxxxx 作为 Session Name

输入
第一章 XXXX
本章学习目标
◆ ...........
◆ ...........
◆ ............
第一节 xxxxxx
...................
一、..........................

输出
{"Chapter":"第一章 XXXX","Target":"◆ ...........\n◆ ...........\n◆ ............\n","sessions":[{"Name":"第一节 xxxxxx", "Content":"一、..........................\n....................\n二、..........................\n"}]}

输入
abc
efg
hij

输出
{"Chapter":"","Target":"","sessions":[{"Name":"", Content:"abcefghij"}]}


输入
.........
第二节 xxxxxx
...............
一、..........................

输出
{"Chapter":"","Target":"","sessions":[{"Name":"", Content:"........."},{"Name":"第二节 xxxxxx", Content:"一、.........................."}]}




根据以下条件从输入提取相关内容

条件1  以汉字数字+、+XXXX 作为 Item ,其他表示方式都不是 Item ，如 一、XXXX 作为 Item
条件2  以( + 汉字数字 + ）+ xxxx  作为 Catalog Name 如 （一）xxxx 作为 Catalog Name
条件3  以 •  或者 ✓  开始的都不是 Item 或 Catalog Name，只能作为 Content 输出



输入
一、XXXX
 （一）aaa
   .................

输出
{"Item":"一、XXXX","Catalogs":[{"Name":"（一）aaa", "Content":"................."}]}

输入

...........
三、XXXX
 （一）aaa
   ....

输出
[{"Item":"","Catalogs":[{"Name":"", "Content":"..........."}]},{"Item":"三、XXXX":[{"Name":"（一）aaa", "Content":" ...."}]}]

输入
..........
（一）aaa
..........

输出
{"Item":"","Catalogs":[{"Name":"（一）aaa", "Content":".........."}]}


输入
一、XXXXX
.............

输出
{"Item":"一、XXXXX","Catalogs":[{"Name":"", "Content":".........."}]}

输入
aaa
bbb
一、XXXXX
.............

输出
[{"Item":"","Catalogs":[{"Name":"", "Content":"aaa\nbbb"}]},{"Item":"一、XXXXX","Catalogs":[{"Name":"", "Content":"............."}]}]

输入
.....
.....
....

输出
[{"Item":"","Catalogs":[{"Name":"", "Content":"............."}]}]

输入 {{content}}

请根据输入  {{content}} , 帮我提取出里面的内容

输出
